<ion-view ng-controller="scrollController" title="{{JSON['Name']}} Info" id="page7" style="" class=" ">
        <ion-nav-buttons class="" side="left">          
             <button class="button button-icon button-clear ion-chevron-left" ng-click="back(); componentForm.reset()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
        <div deletable 
             ng-init="isDeletable();" 
             ng-show="deletable" 
             ng-click="deleteView();">
            <button class="button-clear center-text" 
                    style="padding-right: 1em; padding-left: .5em;">
                <h4>Delete</h4>
            </button>
        </div>
    </ion-nav-buttons>
    
   <!--Scrollable Content; Calls function to check visibility of translucent down arrow.-->
    <ion-content 
      delegate-handle="scrollable" 
      class="has-header content-bg padding"
      on-scroll="cndHideArrow()">
    <form name ="componentForm">
            <label>
                <ion-md-input type="text" maxlength="50" placeholder="Name" name="componentName" ng-model = "JSON['Name']" required/>
            </label>
            <label>
                <ion-md-input type="text" maxlength="50" placeholder="Manufacturer" name="manufacturer"  ng-model = "JSON['Manufacturer']"/>
            </label>
            <label>
                <ion-md-input type="text" maxlength="50"  placeholder="Model" name="model" ng-model = "JSON['Model']"/>
            </label>
            <label>
                <ion-md-input type="text" maxlength="50" placeholder="Serial Number" ng-model = "JSON['Serial Number']" name="serialNumber" />
            </label>
            <label >
                <ion-md-input type="text" maxlength="50" placeholder="Vendor" name="vendor" ng-model = "JSON['Vendor']"/>
            </label>
            <label>
                <ion-md-input type="text" maxlength="50" placeholder="Supplier" name="supplier" ng-model = "JSON['Supplier']" />
            </label>
            <label >
                <ion-md-input type="text" maxlength="100" placeholder="Wiring Notes" ng-model= "JSON['Wiring Notes']" name="wiringNotes"/>
            </label>
            <label >
                <ion-md-input type="text" maxlength="100" placeholder="Installation Details" name="installationDetails" ng-model = "JSON['Installation Details']"/>
            </label>
            <div class="date-container">
                <label>Installation Date</label>
                <input date-input type="date" name="date"  ng-model = "JSON['Installation Date']"/>
            </div>
            <div class="date-container">
                <label>Last Calibrated Date</label>
                <input date-input type="date" name="caliDate" ng-model = "JSON['Last Calibrated Date']"/>
            </div>
       </form>

        <span>
            <button class = "button big-icon-button button-positive button-large icon ion-images" ng-click = "choosePicture()"></button>
            <button class = "button big-icon-button button-positive button-large icon ion-android-camera" ng-click = "takePicture()"></button>
        </span>


        <a  class=" button button-positive button-large button-block wide" 
            ng-disabled = "componentForm.$invalid || !componentForm.modified" 
            ng-click = "saveJSON(); back(); destroyModal();">
            Save
        </a>

        <div class = "overscroll"/>
        
    </ion-content>
    <fab-cluster></fab-cluster>
</ion-view>