<ion-view title="Component" id="page7" style="background-color:#0471A6;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="component-form41" class="list ">
            <label class="item item-input " id="component-input46" name="componentName">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="component-form42" class="list ">
            <label class="item item-input " id="component-input47" name="manufacturer">
                <span class="input-label">Manufacturer</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="component-form43" class="list ">
            <label class="item item-input " id="component-input48" name="model">
                <span class="input-label">Model</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="component-form44" class="list ">
            <label class="item item-input " id="component-input49" name="serialNumber">
                <span class="input-label">Serial Number</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <form id="component-form45" class="list ">
            <label class="item item-input " id="component-input50" name="vendor">
                <span class="input-label">Vendor</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="component-form46" class="list ">
            <label class="item item-input " id="component-input51" name="supplier">
                <span class="input-label">Supplier</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="component-form47" class="list ">
            <label class="item item-input " id="component-input52" name="installationDetails">
                <span class="input-label">Installation Details</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="component-form48" class="list ">
            <label class="item item-input " id="component-input53" name="wiringNotes">
                <span class="input-label">Wiring notes</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="component-form49" class="list ">
            <label class="item item-select " id="component-select8" name="componentDeployment">
                <span class="input-label">Deploment</span>
                <select></select>
            </label>
        </form>
        <form id="component-form50" class="list ">
            <label class="item item-input " id="component-input54" name="deploymentCalivrated">
                <span class="input-label">Last Calibrated Date</span>
                <input type="date" placeholder="">
            </label>
        </form>

        <form>
            <label class= "myLabel button button-positive button-large button-block" id = "component-photo1" name="componentPhotoButton">
                <span>Photo</span>
                <input type="file"  accept="image/*">

            </label>
        </form>
<!-- 
        <form>
        <label class= "photoViewer img" ame="componentPhotoButton">
        <img id="componentPhoto" src="#"/>
        </form>
 -->

    <a ui-sref="createNew.mainMenu" id="component-button9" class=" button button-positive button-large button-block ">Save</a>
    </ion-content>
</ion-view>