<ion-side-menus enable-menu-with-back-views="true">        
    <ion-side-menu-content>
            <ion-nav-bar class="bar-dark">
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                </ion-nav-buttons>
                
                <!-- Upload Button Aligned Right -->
                <ion-nav-buttons side="right">
                    <button id="upload-btn" class="">Upload</button>
                </ion-nav-buttons>
                
            </ion-nav-bar>
            <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu 
        side="left" 
        id="side-menu21" 
        style="background-color:#033860;">
        <ion-header-bar class="bar-dark">
            <div class="title">Create New</div>
        </ion-header-bar>
        <ion-content scroll="false" padding="false" class="side-menu-left has-header">
            <ion-list id="createNew-list1" class=" ">
                <ion-item id="createNew-list-item1" ui-sref="createNew.mainMenu" menu-close="" class=" ">Main Menu</ion-item>
                <ion-item id="createNew-list-item18" ui-sref="createNew.people" menu-close="" class="  ">Person</ion-item>
                <ion-item id="createNew-list-item2" ui-sref="createNew.project" menu-close="" class="  ">Project</ion-item>
                <ion-item id="createNew-list-item3" ui-sref="createNew.site" menu-close="" class="  ">Site</ion-item>
                <ion-item id="createNew-list-item5" ui-sref="createNew.system" menu-close="" class="  ">System</ion-item>
                <ion-item id="createNew-list-item6" ui-sref="createNew.deployment" menu-close="" class="  ">Deployment</ion-item>
                <ion-item id="createNew-list-item7" ui-sref="createNew.component" menu-close="" class="  ">Component</ion-item>
                <ion-item id="createNew-list-item8" ui-sref="createNew.document" menu-close="" class="  ">Document</ion-item>
                <ion-item id="createNew-list-item9" ui-sref="createNew.serviceEntry" menu-close="" class="  ">Service Entry</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>