<ion-view  title="{{JSON['Name']}} Info" id="page6" style="" class=" ">
    <ion-nav-buttons class="" side="left">          
             <button class="button button-icon button-clear ion-chevron-left" ng-click="back(); deploymentForm.reset()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div deletable 
             ng-init="isDeletable();" 
             ng-show="deletable" 
             ng-click="deleteView();">
            <button class="button-clear center-text" 
                    style="padding-right: 1em; padding-left: .5em;">
                <h4>Delete</h4>
            </button>
        </div>
    </ion-nav-buttons>
    <ion-content 
      delegate-handle="scrollable" 
      class="has-header content-bg padding"
      on-scroll="cndHideArrow()">

        <form name = "deploymentForm">
            <label>
                <ion-md-input type="text" maxlength="100" placeholder="Name" name = "deploymentName" ng-model = "JSON['Name']" required/>
            </label>
            <label>
                <ion-md-input type="text" maxlength="100" placeholder="Purpose" name="purpose" ng-model = "JSON['Purpose']"/>
            </label> 
            <label>
                <ion-md-input type="text" placeholder="Latitude" name="deploymentLatitude" ng-model = "JSON['Latitude']"/>
            </label>
            <label>
                <ion-md-input type="text" placeholder="Longitude" name="deploymentLongitude" ng-model= "JSON['Longitude']"/>
            </label>

            <label>
                <ion-md-input type="text" placeholder="Altitude" name="deploymentAltitude" ng-model = "JSON['Elevation']"/>
            </label>

            <button id="deployment-button8" class=" button button-positive button-large button-block " ng-click = "getGPS(JSON)">Get GPS Location</button>
            
            <label >
                <ion-md-input type="text" maxlength="50" placeholder="Center Offset" name="offset" ng-model = "JSON['Center Offset']"/>
            </label>
            <label >
                <ion-md-input type="text" placeholder="Height From Ground" name="height" ng-model = "JSON['Height From Ground']"/>
            </label>
            <label>
                <ion-md-input type="text" maxlength="100" placeholder="Parent Logger" name="logger" ng-model = "JSON['Parent Logger']"/>
            </label>
            <label>
                <ion-md-input type="text" maxlength="200" placeholder="Notes" name="notes" ng-model = "JSON['Notes']"/>
            </label>
            <div class="select-container">
                <label>Established Date</label>
                <input date-input class="date-input" type="date" name="dateest" ng-model = "JSON['Established Date']" />
            </div>
            <div class="select-container">
                <label>Abandoned Date</label>
                <input date-input type="date" name="date" ng-model = "JSON['Abandoned Date']" />
            </div>
        </form>
        
        <button class=" button button-positive button-large button-block wide" 
        ng-disabled = "deploymentForm.$invalid || !deploymentForm.modified"
        ng-click = "saveJSON(deletable); back();">
        Save</button> 
        
        <div class="overscroll"></div>
    </ion-content>

    <fab-cluster></fab-cluster>

</ion-view>