<ion-view title="Deployment" id="page6" style="background-color:#0471A6;" class=" ">
 <!--
    <ion-content>
        <div class="overlay header">
            <div class="arrow-up pull-right translucent">
            </div>  
        </div>
    </ion-content>
-->
    <ion-content padding="true" class="has-header">
        <form id="deployment-form31" class="list ">
            <label class="item item-input " id="deployment-input37" name="deploymentName">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="deployment-form32" class="list ">
            <label class="item item-input " id="deployment-input38" name="purpose">
                <span class="input-label">Purpose</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="deployment-form33" class="list ">
            <label class="item item-input " id="deployment-input40" name="deploymentLatitude">
                <span class="input-label">Latitude</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input " id="deployment-input39" name="deploymentLongitude">
                <span class="input-label">Longitude</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input " id="deployment-input41" name="deploymentElevation">
                <span class="input-label">Elevation</span>
                <input type="number" placeholder="">
            </label>
            <button id="deployment-button8" class=" button button-positive button-large button-block ">Get GPS Location</button>
        </form>
        <form id="deployment-form36" class="list ">
            <label class="item item-input " id="deployment-input42" name="offset">
                <span class="input-label">Center Offset</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="deployment-form37" class="list ">
            <label class="item item-input " id="deployment-input43" name="neight">
                <span class="input-label">Height From Ground</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="deployment-form38" class="list ">
            <label class="item item-input " id="deployment-input44" name="logger">
                <span class="input-label">Parent Logger</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="deployment-form39" class="list ">
            <label class="item item-select " id="deployment-select7" name="deploymentSystem">
                <span class="input-label">System</span>
                <select></select>
            </label>
        </form>
        <form id="deployment-form40" class="list ">
            <label class="item item-input " id="deployment-input45" name="deploymentEstablish">
                <span class="input-label">Established Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <a ui-sref="createNew.mainMenu" id="deployment-button7" class=" button button-positive button-large button-block ">Save</a> 
    </ion-content>
    
    <!-- Small arrow on the bottom indicating scrollability-->
    <div class="overlay footer">
            <div class="arrow-down pull-right translucent"></div>  
    </div>
   
</ion-view>