<ion-view ng-controller="scrollController" title="Document" id="page9" style="background-color:#0471A6;" class=" ">
    <ion-content 
      delegate-handle="scrollable" 
      padding="true" 
      class="has-header bg-img-main"
      on-scroll="cndHideArrow()">
        <form id="document-form53" class="list ">
            <label class="item item-input " id="document-input55" name="documentName">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="document-form54" class="list ">
            <label class="item item-input " id="document-input56" name="documentNotes">
                <span class="input-label">Notes</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="document-form55" class="list ">
            <label class="item item-input " id="document-input57" name="path">
                <span class="input-label">Path</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="document-form56" class="list ">
            <label class="item item-select " id="document-select9" name="documentProject">
                <span class="input-label">Project</span>
                <select></select>
            </label>
        </form>
        <form id="document-form57" class="list ">
            <label class="item item-select " id="document-select10" name="documentSite">
                <span class="input-label">Site</span>
                <select></select>
            </label>
        </form>
        <form id="document-form58" class="list ">
            <label class="item item-select " id="document-select11" name="documentDeployment">
                <span class="input-label">Deployment</span>
                <select></select>
            </label>
        </form>
        <form id="document-form59" class="list ">
            <label class="item item-select " id="document-select12" name="documentComponent">
                <span class="input-label">Component</span>
                <select></select>
            </label>
        </form>
        <form id="document-form60" class="list ">
            <label class="item item-select " id="document-select13" name="documentService">
                <span class="input-label">Service Entry</span>
                <select></select>
            </label>
        </form>
        <a ui-sref="createNew.mainMenu" id="document-button10" class=" button button-positive button-large button-block ">Save</a>
    </ion-content>
    
    <!-- Translucent down arrow indicating scrollability-->
    <!-- Functionality: Enables user to scroll rapidly to bottom of page onClick
         Hides upon full scroll down-->
    <div class="overlay footer">
            <div
              delegate-handle="arrow-btn"
              ng-click="scrlBot()"
              ng-hide="isBottom"
              class="arrow-down pull-right translucent"></div>  
    </div>
</ion-view>