<ion-modal-view ng-controller="scrollController" title="Document" id="page9" style="" class=" ">
    <ion-header-bar class="bar-dark">
        <button  class="button-flat" ng-click="back(); closeModal();"><h4>Back</h4></button>
    </ion-header-bar>
    
    <ion-content 
      delegate-handle="scrollable" 
      padding="true" 
      class="has-header content-bg"
      on-scroll="cndHideArrow()"> 

<!--    controller scope var: document
        var name: documentName
        type: text
        error checking: no
        min|max req: not implemented --> 
        <form name = "nameForm" id="document-form53" class="list " novalidate>
            <label class="item item-input " id="document-input55" >
                <ion-md-input type="text" placeholder="Name" name="documentName" ng-model = "JSON['Name']" required></ion-md-input>
            </label>
        </form>

<!--    controller scope var: document
        var name: notes
        type: text
        error checking: no
        min|max req: not implemented --> 
        <form name = "notesForm" id="document-form54" class="list " novalidate>
            <label class="item item-input " id="document-input56" >
                <ion-md-input type="text" name="notes" placeholder="Notes" ng-model = "JSON['Notes']" required></ion-md-input>
            </label>
        </form>

<!--    controller scope var: documents
        var name: path
        type: text
        error checking: no
        min|max req: not implemented --> 
        <form name = "pathForm" id="document-form55" class="list " novalidate>
            <label class="item item-input " id="document-input57" >
                <ion-md-input type="text" placeholder="Path" name="path" ng-model = "JSON['Path']" required></ion-md-input>
            </label>
        </form>


        <form name = "projectForm" id="document-form56" class="list ">
            <label class="item item-select " id="document-select9" name="documentProject">
                <span class="input-label">Project</span>
                <select></select>
            </label>
        </form>


        <form name= "siteForm" id="document-form57" class="list ">
            <label class="item item-select " id="document-select10" name="documentSite">
                <span class="input-label">Site</span>
                <select></select>
            </label>
        </form>
        <form  name = "deplomentForm" id="document-form58" class="list ">
            <label class="item item-select " id="document-select11" name="documentDeployment">
                <span class="input-label">Deployment</span>
                <select></select>
            </label>
        </form>


        <form  name = "componentForm" id="document-form59" class="list ">
            <label class="item item-select " id="document-select12" name="documentComponent">
                <span class="input-label">Component</span>
                <select></select>
            </label>
        </form>


        <form name = "serviceForm" id="document-form60" class="list ">
            <label class="item item-select " id="document-select13" name="documentService">
                <span class="input-label">Service Entry</span>
                <select></select>
            </label>
        </form>


    

  <a ui-sref="createNew.mainMenu" id="site-button23" class=" button button-positive button-large button-block " ng-disabled = "nameForm.$invalid || notesForm.$invalid || pathForm.$invalid" ng-click = saveDocumentJSON(); >Save</a>

            <!-- error handling for the above forms -->
<!--     <div class="padding"> 
     <p ng-show="nameForm.documentsName.$error.required || notesForm.notes.$error.required  || pathForm.path.$error.required " >* All inputs must be completed</p>
    </div> -->

    

    <!-- Translucent down arrow indicating scrollability-->
    <!-- Functionality: Enables user to scroll rapidly to bottom of page onClick
         Hides upon full scroll down-->
    <div class="overlay footer"
         ng-hide="isBottom">
            <div
              delegate-handle="arrow-btn"
              ng-click="scrlBot()"
              class="arrow-down pull-right translucent"></div>  
    </div>
</ion-modal-view>