<ion-view id="page10" class="">
    <ion-nav-bar align-title="center" class="bar-light">
          <ion-nav-back-button style="display:block;">
              Back
          </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-title>{{title}}</ion-nav-title>
    <ion-content padding="true" class="has-header content-bg">
    <ul>
    	<li class ="" ng-repeat="items in listJSON">
    	  <ul>
    		<li class="" ng-repeat = "item in items">
    			<button class = ""  ng-click = "select(item)" > {{item["Name"]}}
    			</button>
            </li>
          </ul>
    	</li>
    </ul>
    <button fab="true" ng-controller="modalController" ng-click="openModal()">
        New {{route}}
    </button>

 </ion-content>
</ion-view>