<ion-view id="page10" class="">
    <ion-nav-bar align-title="center" class="bar-dark">
        <ion-nav-buttons class="" side="left">          
            <button class="button button-icon button-clear ion-chevron-left" ng-click="back();">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons class="" side="right">          
            <button ng-show = "viewInfo" class="button-clear" style="padding-right:10px;" ng-click="viewItem()">
                <h4>Info</h4>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-title>{{clickedJSON.Name}}</ion-nav-title>
    <ion-content padding="false" class="has-header content-bg">
        <ul>
            <div class = "item waves-button ink text-center accent">
                    <h2 class="text">Associated {{title}}</h2>
            </div>
    		<li repeat-directive ng-repeat = "(key, item) in listJSON" >
                <div class = "item waves-button ink text-center" ng-click = "storePresentState(); select(item); progressiveListSwitch();">
                    <h2>{{item.Name}}</h2>
    			</div>
            </li>
          </ul>
 </ion-content>
    <button ng-show = "modalCheck" class="button button-fab button-fab-bottom-right pane compliment" ng-click="newItem();">
        <i class="icon ion-plus" style="color: #FFFFFF;"></i>
    </button>
</ion-view>