<ion-view title="Main Menu" hide-back-button="true" id="page3" class="">
    <!-- Upload button only on main menu -->
    <ion-nav-buttons side="right">
        <!--Only one of the following 2 options can be shown at a time based off of requirement of syncability
            defined in rootScope variable canSync-->
        <button conflict-checker ng-hide="canSync" id="conflict" class="button button-icon button-clear ion-checkmark-circled" ng-click="check(editJSON);"></button>
        <button id="upload-btn" ng-show="canSync" class="button button-icon button-clear ion-loop" ng-click = "uploadJSONS()" ></button>

        <button id="upload-btn" class="button-clear center-text" ng-controller = 'LoginController' ng-click = 'openModal();' ng-show = "!loggedIn" style = "padding-right: 1em; padding-left: .5em;">Login</button>

    </ion-nav-buttons>

    <ion-content
      scroll=false
      padding="false"
      has-footer="true"
      class="has-header text-center content-bg"
      ng-init="setProgressiveTimingOffsets(); setRandomBackground();"
      >
      <div class="app-header-container animated slideInRight" ng-style="randomBackground">

      </div>
      <div class="app-title-container animated slideInLeft" ng-style="progressiveTimingOffset[2] ">
          <h1 style="">NRDC QA</h1>
          <h1>APP</h1>
        </div>
        <div class="">
              <button ui-sref="list"
                      class= "button button-large button-block main-menu-button accent animated slideInUp"
                      ng-click = "progressiveListSwitch()"
                      ng-style="">
                  <h3 class="text">Site Networks</h3>
               </button>

        </div>
        <div  style="padding-top:5em;" class="">
          <p>Build Version</p>
          <p>0.8.01</p>
        </div>

    </ion-content>


</ion-view>
