<ion-view title="Site Networks">
    <ion-nav-buttons side="right">
        <div deletable 
             ng-init="isDeletable();" 
             ng-show="deletable" 
             ng-click="deleteView();">
            <button class="button-clear center-text" 
                    style="padding-right: 1em; padding-left: .5em;">
                <h4>Delete</h4>
            </button>
        </div>
    </ion-nav-buttons>
    
    <ion-content class="has-header content-bg padding">

        <form name ="nameForm" class="list" >
            <label class="item item-input " >
                <ion-md-input type="text"  placeholder="Name" maxlength="50" name="projectName" ng-model = "JSON['Name']" required/>
            </label>
        </form>

        <form name ="institutionForm" class="list " novalidate>
            <label class="item item-input " id="project-input64" >
                <ion-md-input type="text" maxlength="50" placeholder="Institution Name" name="institution" ng-model = "JSON['Institution Name']" required/>
            </label>
        </form>

        <form name ="fundingForm" class="list " >
            <label class="item item-input "  >
                <ion-md-input type="text" maxlength="100" placeholder="Original Funding Agency" name="funding" ng-model = "JSON['Original Funding Agency'] " required/>
            </label>
        </form>

        <form name ="grantForm" class="list " >
            <label class="item item-input " >
                <ion-md-input type="text" maxlength="20" placeholder="Grant Number" name="grantNumber" ng-model = "JSON['Grant Number String']" required/>
            </label>
        </form>

        <form name ="investigatorForm" class="list" novalidate> 
            <div class="select-container">
                 <select class="wide"
                         ng-model = "JSON ['Principal Investigator']" 
                         ng-options="key as people for (key, people) in peopleJSON" required>
                    <option value=""> Prinicipal Investigator</option>
                 </select>
             </div>
        </form> 

        <a class=" button button-large button-block button-positive wide"
            deletable 
            ng-init="isDeletable();" 
            ng-show="deletable" 
            ng-disabled="nameForm.$invalid || institutionForm.$invalid || fundingForm.$invalid || grantForm.$invalid || investigatorForm.$invalid" 
            ng-click="saveJSON(); back(); destroyModal();">
            Save</a>
    </ion-content>
    
    <!--FAB Link for the addition of documents-->
<!--     <button class="button button-fab button-fab-bottom-right compliment"  ng-controller='DocumentModalController' ng-click="openModal();" ng-show="modalHidden"> -->
 <button class="button button-fab button-fab-bottom-right compliment" ui-sref="docList" ng-controller= "documentListCtrl" ng-click = "documentList ('Site Network', JSON);" ng-show="modalHidden"> 

        <i class="icon ion-android-document" style="color:white;"></i>
    </button>
</ion-view>