<ion-view ng-controller="scrollController"  title="People">
    <ion-nav-buttons side="right">
        <div deletable 
             ng-init="isDeletable();" 
             ng-show="deletable" 
             ng-click="deletePeople();">
            <button class="button-clear center-text" 
                    style="padding-right: 1em; padding-left: 0.5em;">
                <h4>Delete</h4>
            </button>
        </div>
    </ion-nav-buttons>
    
    <ion-content class="has-header content-bg padding"> 

        <form name ="peopleForm">
            <label>
                <ion-md-input type="text" maxlength="20" placeholder="First Name" name = "firstName" ng-model = "JSON['First Name']" required/>
            </label>

            <label >
                <ion-md-input type="text" maxlength="50" placeholder="Last name" name = "lastName" ng-model = "JSON['Last Name'] " required/>
            </label>

            <label>
                <ion-md-input type="text" maxlength="100" placeholder="Organization" name = "organization" ng-model = "JSON['Organization']"/>
            </label>
            <label class="item item-input " >
                <ion-md-input type="email" maxlength="100" placeholder="Email" name = "email" ng-model = "JSON['Email']" />
            </label>
            <label class="item item-input ">
                <ion-md-input type="text" placeholder="Phone" ng-maxlength = "13" name = "phone" ng-model="JSON['Phone']"/>
            </label> 
        </form>
        
        <span>
            <button class = "button big-icon-button button-positive button-large icon ion-images" ng-model = "JSON['Photo']" ng-click = "choosePicture()"/>
            <button class = "button big-icon-button button-positive button-large icon ion-android-camera" ng-model = "JSON['Photo']" ng-click = "takePicture(imageData)"/>
        </span>

        <a class="button button-positive button-large button-block wide" 
            ng-disabled="peopleForm.$invalid || !peopleForm.modified" 
            ng-click = "saveJSON(deletable); back ();">
            Save</a>
    </ion-content>
    
</ion-view>