<ion-view id="page10" class="">
    <ion-nav-bar align-title="center" class="bar-dark">
        <ion-nav-buttons class="" side="left">          
            <button class="button button-icon button-clear ion-chevron-left" ng-click="backList();">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-title>{{seJSON.Name}}</ion-nav-title>
    <ion-content padding="false" class="has-header content-bg">
        <ul>
            <div class = "item waves-button ink text-center accent">
                    <h2 class="text">Associated Service Entries</h2>
            </div>
    		<li repeat-directive ng-repeat = "(key, item) in serviceEntryListJSON" >
                <div class = "item waves-button ink text-center" ng-click = "select(item);">
                    <h2>{{item.Name}}</h2>
    			</div>
            </li>
          </ul>
 </ion-content>
    <button class="button button-fab button-fab-bottom-right compliment"  ng-controller='ServiceModalController' ng-click="openModal();" ng-show="modalHidden">
         <i class="icon ion-plus" style="color: #FFFFFF;"></i>
    </button>
</ion-view>