<ion-view ng-controller="scrollController" title="Service Entry" id="page8" style="background-color:#0471A6;" class=" ">
    <ion-content 
      delegate-handle="scrollable" 
      padding="true" 
      class="has-header bg-img-main"
      on-scroll="cndHideArrow()">
        <form id="serviceEntry-form62" class="list ">
            <label class="item item-input " id="serviceEntry-input59" name="serviceName">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="serviceEntry-form63" class="list ">
            <label class="item item-input " id="serviceEntry-input60" name="serviceNotes">
                <span class="input-label">Notes</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="serviceEntry-form64" class="list ">
            <label class="item item-input " id="serviceEntry-input61" name="operation">
                <span class="input-label">Operation</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="serviceEntry-form66" class="list ">
            <label class="item item-select " id="serviceEntry-select14" name="serviceProject">
                <span class="input-label">Project</span>
                <select></select>
            </label>
        </form>
        <form id="serviceEntry-form67" class="list ">
            <label class="item item-select " id="serviceEntry-select15" name="serviceCreator">
                <span class="input-label">Creator</span>
                <select></select>
            </label>
        </form>
        <form id="serviceEntry-form68" class="list ">
            <label class="item item-select " id="serviceEntry-select16" name="serviceSystem">
                <span class="input-label">System</span>
                <select></select>
            </label>
        </form>
        <form id="serviceEntry-form69" class="list ">
            <label class="item item-select " id="serviceEntry-select17" name="serviceComponent">
                <span class="input-label">Component</span>
                <select></select>
            </label>
        </form>

        <form>
            <label class= "myLabel button button-positive button-large button-block" id = "service-photo1" name="servicePhotoButton">
                <span>Photo</span>
                <input type="file"  accept="image/*">

            </label>
        </form>

        <a ui-sref="createNew.mainMenu" id="serviceEntry-button11" class=" button button-positive button-large button-block ">Save</a>
    </ion-content>
    
    <!-- Small arrow on the bottom indicating scrollability-->
    <!-- Functionality: Enables user to scroll rapidly to bottom of page
         Hides upon full scroll down-->
    <div class="overlay footer">
            <div
              delegate-handle="arrow-btn"
              ng-click="scrlBot()"
              ng-hide="isBottom"
              class="arrow-down pull-right translucent"></div>  
    </div>
</ion-view>