<ion-view ng-controller="scrollController" 
                title="{{JSON['Name']}} Info" 
                id="page8" 
                style="background-color:#0471A6;" 
                class=" ">
    <ion-nav-buttons side="right">
        <div deletable 
             ng-init="isDeletable();" 
             ng-show="deletable" 
             ng-click="deleteService();">
            <button class="button-clear center-text" 
                    style="padding-right: 1em; padding-left: .5em;">
                <h4>Delete</h4>
            </button>
        </div>
    </ion-nav-buttons>
        <fab-cluster></fab-cluster>
    <ion-content 
      delegate-handle="scrollable" 
      class="has-header content-bg padding"
      on-scroll="cndHideArrow()">

        <form name = "nameForm" class="list ">
          <label class="item item-input "  >
              <ion-md-input type="text" maxlength="50" placeholder="Name" name="serviceName" ng-model = "JSON['Name']" required/>
          </label>
        </form>

        <form name = "notesForm"  class="list ">
          <label class="item item-input " >
             <ion-md-input type="text" maxlength="100" placeholder="Notes" name = "notes" ng-model = "JSON['Notes']" required/>
          </label>
        </form>

        <form name = "operationForm" class="list ">
          <label class="item item-input ">
            <ion-md-input type="text" maxlength="50" placeholder="Operation" name="operation" ng-model = "JSON['Operation']" required/>
          </label>
        </form>

        <form name="dateForm">
          <label>Date</label>
          <input date-input type="date" name="date" ng-model = "JSON['Date']" required />
       </form>

       <form name ="creatorForm" class="list"> 
          <div class="select-container">
               <select class="wide"
                       ng-model = "JSON ['Creator']" 
                       ng-options="key as people for (key, people) in peopleJSON" required>
                <option value="">Creator</option>
                </select>
          </div>
      </form> 

    <span>
        <button class = "button big-icon-button button-positive button-large icon ion-images" ng-model = "JSON['Photo']" ng-click = "choosePicture()"/>
        <button class = "button big-icon-button button-positive button-large icon ion-android-camera" ng-model = "JSON['Photo']" ng-click = "takePicture(imageData)"/>
    </span>
        
        <button ng-disabled = "nameForm.$invalid || notesForm.$invalid || operationForm.$invalid  ||  dataForm.$invalid || creatorForm.$invalid" 
            deletable 
            ng-init="isDeletable();" 
            ng-show="deletable" 
                class=" button button-positive button-large button-block " 
                ng-click = "saveJSON(); back(); destroyModal();">
                Save</button>

    </ion-content>
    
    <!-- Small arrow on the bottom indicating scrollability-->
    <!-- Functionality: Enables user to scroll rapidly to bottom of page
         Hides upon full scroll down-->
<!--    <div class="overlay footer"
         ng-hide="isBottom">
            <div
              delegate-handle="arrow-btn"
              ng-click="scrlBot()"
              class="arrow-down pull-right translucent"></div>  
    </div>-->
</ion-view>