<ion-view ng-controller="scrollController" 
          title="{{JSON['Name']}} Info" 
          id="page4"  
          class=" ">
    <ion-nav-buttons class="" side="left">          
             <button class="button button-icon button-clear ion-chevron-left" ng-click="back(); siteForm.reset()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div deletable 
             ng-init="isDeletable();" 
             ng-show="deletable" 
             ng-click="deleteView();">
            <button class="button-clear center-text" 
                    style="padding-right: 1em; padding-left: .5em;">
                <h4>Delete</h4>
            </button>
        </div>
    </ion-nav-buttons>
 
    <ion-content 
      delegate-handle="scrollable" 
      class="has-header content-bg padding"
      on-scroll="cndHideArrow()">

        <form name = "siteForm">
            <label>
                <ion-md-input type="text" maxlength="50" placeholder="Name" name = "siteName" ng-model = "JSON['Name']" required/>
            </label>
            <label>
                <ion-md-input type="text" placeholder="Latitude" name = "siteLatitude"  ng-model = "JSON['Latitude']" required/>
            </label>

            <label >
                <ion-md-input type="text" placeholder="Longitude" name = "siteLongitude" ng-model = "JSON['Longitude']" required/>
            </label>

            <label>
                <ion-md-input type="text" placeholder="Altitude" name = "siteElevation" ng-model = "JSON['Elevation']" required/>
            </label>

            <button class=" button button-positive button-large button-block " ng-click = "getGPS(JSON)" >Get GPS Location</button>
            <label>
                <ion-md-input type="text" maxlength="20" placeholder="Alias" name = "siteAlias" ng-model= "JSON['Alias']" required/>
            </label>
            <label >
                <ion-md-input type="text" maxlength="200" placeholder="Notes"  name = "siteNotes" ng-model = "JSON['Notes']" required/>
            </label>
            <label >
                <ion-md-input type="text" maxlength="50" placeholder="GPS Landmark"  name = "gpsLandmark" ng-model = "JSON['GPS Landmark']" required/>
            </label>
            <div class="select-container">
                <select ng-model = "JSON['Permit Holder']" 
                        ng-options = "key as people for (key, people) in peopleJSON" 
                        class="wide">
                    <option value="">Permit Holder</option>
                </select>
            </div>
            <div class="select-container">
                        <select ng-model = "JSON['Land Owner']" 
                                ng-options = "key as people for (key, people) in peopleJSON" 
                                class="wide">
                <option value="">Land Owner</option>
                </select>
            </div>
        </form>
        
        <span>
            <button class = "button big-icon-button button-positive button-large icon ion-images" ng-click = "choosePicture()" />
            <button class = "button big-icon-button button-positive button-large icon ion-android-camera" ng-click = "takePicture()"/>
        </span>

        <button class=" button button-positive button-large button-block " 
                ng-disabled="siteForm.$invalid || !siteForm.modified" 
                ng-click = "saveJSON(deletable); back(); " >
                Save</button>
                
    <div class = "overscroll"></div>

    </ion-content>
    <!--Expnadable Floating Action Bar Group With options for new Document and new service entry.-->
    <fab-cluster></fab-cluster>
    
    
</ion-view>