<ion-modal-view title="System" id="page5" style="" class=" ">
    <ion-header-bar class="bar-dark">
        <button  class="button-flat" ng-click="back(); closeModal();"><h4>Back</h4></button>
    </ion-header-bar>
    
    <div ng-controller="systemCtrl">
    <ion-content class="has-header content-bg padding">
<!--    controller scope var: system
        var name: systemName
        type: text
        error checking: no
        min|max req: not implemented --> 
        <form name = "nameForm" id="system-form23" class="list " novalidate>
            <label class="item item-input " id="system-input31">
                <ion-md-input type="text" placeholder="Name"  name="systemName" ng-model = "JSON['Name']" required></ion-md-input>
            </label>
        </form>

<!--    controller scope var: system
        var name: details
        type: text
        error checking: no
        min|max req: not implemented --> 
        <form name = "detailsForm" id="system-form24" class="list " novalidate>
            <label class="item item-input " id="system-input32" >
                <ion-md-input type="text" placeholder="Details" name="details" ng-model = "JSON['Details']" required=""></ion-md-input>
            </label>
        </form>

<!--    controller scope var: system
        var name: power
        type: text
        error checking: no
        min|max req: not implemented --> 
        <form name = "powerForm" id="system-form25" class="list " novalidate>
            <label class="item item-input " id="system-input33" >
                <ion-md-input type="text" placeholder="Power" name="power" ng-model = "JSON['Power']" required></ion-md-input>
            </label>
        </form>

<!--    controller scope var: system
        var name: installLocation
        type: text
        error checking: no
        min|max req: not implemented --> 
        <form name = "installForm" id="system-form26" class="list " novalidate>
            <label class="item item-input " id="system-input34" >
                <ion-md-input type="text" placeholder="Installation Location" name="installLocation" ng-model = "JSON['Installation Location']" required> </ion-md-input>
            </label>
        </form>


        <form name = "managerForm" id="system-form28" class="list ">
                <select ng-model = "JSON ['Manager']" ng-options = "key as people for (key, people) in peopleJSON" required>
                    <option value="">Manager</option>
                </select>
        </form>


        <form name = "siteForm" id="system-form30" class="list ">
                <select ng-model = "JSON['Site']" ng-options = "key as site for (key, site) in siteJSON" required>
                    <option value="">Site</option>
                    </select>
        </form>
        
<!--    controller scope var: n/a
        var name: photo
        type: file upload
        error checking: onchange -->

         <button class = "button button-positive button-large button-block" ng-click = "choosePicture()">Choose Photo</button>


<!--    controller scope var: n/a
        var name: takePhoto
        type: file upload
        error checking: onchange -->

        <button class = "button button-positive button-large button-block" ng-click = "takePicture()">Take Photo</button>


        <a ui-sref="mainMenu" id="system-button6" class=" button button-positive button-large button-block " ng-disabled="nameForm.$invalid || detailsForm.$invalid || powerForm.$invalid || installForm.$invalid || managerForm.$invalid || siteForm.$invalid" ng-click = saveSystemJSON();>Save</a>

            <!-- error handling for the above forms -->
<!--     <div class="padding"> 
     <p ng-show="nameForm.siteName.$error.required || detailsForm.details.$error.required  || powerForm.power.$error.required  || installForm.installLocation.$error.required" >* All inputs must be completed</p>
     </div>
 -->
    </ion-content>
</ion-modal-view>