<ion-view title="{{JSON['Name']}} Info" id="page5" style="" class=" ">
    <ion-nav-buttons class="" side="left">
             <button class="button button-icon button-clear ion-chevron-left" ng-click="back(); systemForm.reset()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div deletable
             ng-init="isDeletable();"
             ng-show="deletable"
             ng-click="deleteView();">
            <button class="button-clear center-text"
                    style="padding-right: 1em; padding-left: .5em;">
                <h4>Delete</h4>
            </button>
        </div>
    </ion-nav-buttons>


    <ion-content class="has-header content-bg padding">

        <image-display
            image="imageData"
            context='System'
            id="JSON['Unique Identifier']"
            form='systemForm'
            image-delete="JSON['Photo Delete']">
        </image-display>
        <br/>
        <span class="photo-button-holder">
            <image-button
                funct="choosePicture"
                icon="images"
                form="systemForm"
                image="imageData"></image-button>
            <image-button
                funct="takePicture"
                icon="camera"
                form="systemForm"
                image="imageData"></image-button>
        </span>
        <br>
        <br>
        <br>


        <form name = "systemForm">
            <label >
                <ion-md-input type="text" maxlength="50" placeholder="Name"  name="systemName" ng-model = "JSON['Name']" required/>
            </label>
            <label >
                <ion-md-input type="text" maxlength="100"  placeholder="Details" name="details" ng-model = "JSON['Details']" />
            </label>
            <label >
                <ion-md-input type="text" maxlength="50" placeholder="Power" name="power" ng-model = "JSON['Power']"/>
            </label>
            <label class="item item-input " >
                <ion-md-input type="text" maxlength="200" placeholder="Installation Location" name="installLocation" ng-model = "JSON['Installation Location']" />
            </label>
            <div class="select-container">
                <h4>Manager</h4>
                <select class="wide" ng-model = "JSON['Manager']" ng-options = "key as people for (key, people) in peopleJSON" required>
                </select>
            </div>
        </form>



        <a class=" button button-positive wide button-block "
           ng-disabled="systemForm.$invalid || !systemForm.modified"
           ng-click = "saveJSON(deletable); back();">
           Save</a>

        <div class="overscroll"></div>

    </ion-content>

    <fab-cluster></fab-cluster>

</ion-view>
