<ion-view title="{{JSON['Name']}} Info" id="page5" style="" class=" ">
    <ion-nav-buttons class="" side="left">          
             <button class="button button-icon button-clear ion-chevron-left" ng-click="back();"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <div deletable 
             ng-init="isDeletable();" 
             ng-show="deletable" 
             ng-click="deleteView();">
            <button class="button-clear center-text" 
                    style="padding-right: 1em; padding-left: .5em;">
                <h4>Delete</h4>
            </button>
        </div>
    </ion-nav-buttons>
    
    
    <ion-content class="has-header content-bg padding">
 
        <form name = "nameForm" class="list " >
            <label class="item item-input " >
                <ion-md-input type="text" maxlength="50" placeholder="Name"  name="systemName" ng-model = "JSON['Name']" required/>
            </label>
        </form>

        <form name = "detailsForm" class="list ">
            <label class="item item-input " >
                <ion-md-input type="text" maxlength="100"  placeholder="Details" name="details" ng-model = "JSON['Details']" />
            </label>
        </form>

        <form name = "powerForm"  class="list " >
            <label class="item item-input " >
                <ion-md-input type="text" maxlength="50" placeholder="Power" name="power" ng-model = "JSON['Power']"/>
            </label>
        </form>

        <form name = "installForm" class="list " >
            <label class="item item-input " >
                <ion-md-input type="text" maxlength="200" placeholder="Installation Location" name="installLocation" ng-model = "JSON['Installation Location']" />
            </label>
        </form>

        <form name = "managerForm"  class="list ">
            <div class="select-container">
                <select class="wide" ng-model = "JSON ['Manager']" ng-options = "key as people for (key, people) in peopleJSON" required>
                    <option value="">Manager</option>
                </select>
            </div>
        </form>

        <span>
             <button class = "button big-icon-button button-positive button-large icon ion-images" ng-click = "choosePicture()"></button>
            <button class = "button big-icon-button button-positive button-large icon ion-android-camera" ng-click = "takePicture()"></button>
        </span>


        <a class=" button button-positive wide button-block " 
            deletable 
            ng-init="isDeletable();" 
            ng-show="deletable || loggedIn" 
           ng-disabled="nameForm.$invalid || detailsForm.$invalid || powerForm.$invalid || installForm.$invalid || managerForm.$invalid || siteForm.$invalid" 
           ng-click = "saveJSON(); back(); destroyModal();">
           Save</a>
        
        <div class="overscroll"></div>
    
    </ion-content>
         
        <fab-cluster></fab-cluster>
</ion-view>