<ion-view title="View Service Entry" id="page19" style="background-color:#0471A6;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="viewServiceEntry-form121" class="list ">
            <label class="item item-input " id="viewServiceEntry-input120" name="serviceName">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewServiceEntry-form122" class="list ">
            <label class="item item-input " id="viewServiceEntry-input121" name="serviceNotes">
                <span class="input-label">Notes</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewServiceEntry-form123" class="list ">
            <label class="item item-input " id="viewServiceEntry-input122" name="operation">
                <span class="input-label">Operation</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewServiceEntry-form124" class="list ">
            <label class="item item-select " id="viewServiceEntry-select35" name="serviceProject">
                <span class="input-label">Project</span>
                <select></select>
            </label>
        </form>
        <form id="viewServiceEntry-form125" class="list ">
            <label class="item item-select " id="viewServiceEntry-select36" name="serviceCreator">
                <span class="input-label">Creator</span>
                <select></select>
            </label>
        </form>
        <form id="viewServiceEntry-form126" class="list ">
            <label class="item item-select " id="viewServiceEntry-select37" name="serviceSystem">
                <span class="input-label">System</span>
                <select></select>
            </label>
        </form>
        <form id="viewServiceEntry-form127" class="list ">
            <label class="item item-select " id="viewServiceEntry-select38" name="serviceComponent">
                <span class="input-label">Component</span>
                <select></select>
            </label>
        </form>
        <form id="viewServiceEntry-form128" class="list ">
            <label class="item item-input " id="viewServiceEntry-input123" name="ServiceCreation">
                <span class="input-label">Creation Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <form id="viewServiceEntry-form129" class="list ">
            <label class="item item-input " id="viewServiceEntry-input124" name="serviceModification">
                <span class="input-label">Modification Date</span>
                <input type="date" placeholder="">
            </label>
            <div id="viewServiceEntry-button-bar8" class=" button-bar ">
                <a ui-sref="createNew.mainMenu" id="viewServiceEntry-button46" class=" button button-positive button-large button-block ">Save</a>
                <a ui-sref="createNew.mainMenu" id="viewServiceEntry-button47" class=" button button-positive button-large button-block ">Cancel</a>
                <a ui-sref="createNew.mainMenu" id="viewServiceEntry-button48" class=" button button-positive button-large button-block ">Delete</a>
            </div>
        </form>
    </ion-content>
</ion-view>