<ion-view title="View Document" id="page18" style="background-color:#0471A6;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="viewDocument-form111" class="list ">
            <label class="item item-input " id="viewDocument-input115" name="documentName">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewDocument-form112" class="list ">
            <label class="item item-input " id="viewDocument-input116" name="documentNotes">
                <span class="input-label">Notes</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewDocument-form113" class="list ">
            <label class="item item-input " id="viewDocument-input117" name="path">
                <span class="input-label">Path</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewDocument-form114" class="list ">
            <label class="item item-select " id="viewDocument-select30" name="documentProject">
                <span class="input-label">Project</span>
                <select></select>
            </label>
        </form>
        <form id="viewDocument-form115" class="list ">
            <label class="item item-select " id="viewDocument-select31" name="documentSite">
                <span class="input-label">Site</span>
                <select></select>
            </label>
        </form>
        <form id="viewDocument-form116" class="list ">
            <label class="item item-select " id="viewDocument-select32" name="documentDeployment">
                <span class="input-label">Deployment</span>
                <select></select>
            </label>
        </form>
        <form id="viewDocument-form117" class="list ">
            <label class="item item-select " id="viewDocument-select33" name="documentComponent">
                <span class="input-label">Component</span>
                <select></select>
            </label>
        </form>
        <form id="viewDocument-form118" class="list ">
            <label class="item item-select " id="viewDocument-select34" name="documentService">
                <span class="input-label">Service Entry</span>
                <select></select>
            </label>
        </form>
        <form id="viewDocument-form119" class="list ">
            <label class="item item-input " id="viewDocument-input118" name="documentCreation">
                <span class="input-label">Creation Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <form id="viewDocument-form120" class="list ">
            <label class="item item-input " id="viewDocument-input119" name="documentModification">
                <span class="input-label">Modification Date</span>
                <input type="date" placeholder="">
            </label>
            <div id="viewDocument-button-bar7" class=" button-bar ">
                <a ui-sref="createNew.mainMenu" id="viewDocument-button42" class=" button button-positive button-large button-block ">Save</a>
                <a ui-sref="createNew.mainMenu" id="viewDocument-button43" class=" button button-positive button-large button-block ">Cancel</a>
                <a ui-sref="createNew.mainMenu" id="viewDocument-button44" class=" button button-positive button-large button-block ">Delete</a>
            </div>
        </form>
    </ion-content>
</ion-view>