<button ng-click="toggleActive()"
        ng-hide="active"
        ng-show="modalHidden"
        class="button button-fab compliment button-fab-bottom-right">
    <i class="icon ion-plus" style="color:white;"></i>
</button>
<div ng-hide="!active"
     class="nrdc-fab-container-lower-right"
     >
    <!--Documents-->
    <button class="button button-fab tertiary animated fadeIn" ui-sref="docList" ng-controller= "documentListCtrl" ng-click = "documentList (title.slice (0, -1 ), JSON);">
        <i class="icon ion-android-document" style="color:white;"></i>
    </button>

    <!--Service Entries-->
    <button class="button button-fab tertiary animated fadeIn" ui-sref="seList" ng-controller= "ServiceListCtrl" ng-click = "serviceList (title.slice (0, -1 ), JSON);">
        <i class="icon ion-wrench" style="color:white;"></i>
    </button>
    <!--Hide Fab Cluster-->
    <button class="button button-fab tertiary" ng-click="toggleInactive()">
        <i class="icon ion-minus" style="color: white;"></i>
    </button>
</div>
