<div ng-show="networkListFlag" class="nrdc-fab-container-lower-right">
    <!--Documents-->
    <button class="button button-fab tertiary animated fadeIn" ui-sref="docList" ng-controller= "documentListCtrl" ng-hide = "document" ng-click = "documentList (title.slice (0, -1));">
        <i class="icon ion-android-document" style="color: white;"></i>
    </button>

    <!--Service Entries-->
    <button class="button button-fab tertiary animated fadeIn" ui-sref="seList" ng-controller= "ServiceListCtrl" ng-show = "service" ng-click = "serviceList (title.slice (0, -1));">
        <i class="icon ion-wrench" style="color: white;"></i>
    </button>

    <!--CreateNewEntry-->
    <button class="button button-fab tertiary animated fadeIn" ng-click="newItem();">
        <i class="icon ion-plus" style="color: #FFFFFF;"></i>
    </button>
</div>
