<ion-scroll direction="y">
    <div class="header">
        <h1 class="text">{{category}}</h1>
    </div>
    <div ng-hide="name == null" class="subheader">
        <h2 class="text">{{name}}</h2>
    </div>
    <br/>

    <ul>
        <li ng-repeat="(key, property) in conflictRenderer">
            <div show-valid-selection="selected[key]" class="conflict-resolution-line-item unresolved">
                <h3>{{key}}</h3>
                <select ng-if="!isDateField(key)" ng-model=resolutionItem[key] ng-change="throwSelectionFlag(key);">
                    <option value={{property.local}}>Local: {{property.local}}</option>
                    <option value={{property.conflict}}>Remote: {{property.conflict}}</option>
                </select>
                <select ng-if="isDateField(key)" ng-model=resolutionItem[key] ng-change="throwSelectionFlag(key);">
                    <option value={{property.local}}>Local: {{property.local | date}}</option>
                    <option value={{property.conflict}}>Remote: {{property.conflict | date}}</option>
                </select>
            </div>
        </li>
    </ul>

    <!--Appears if there are conflicts in need of resolution-->
    <button class= "button button-large button-block accent conflict-resolution-button"
            ng-hide="finished || !valid"
            ng-click="populateNextConflict();"><h4 class="text">{{conflictButtonText}}</h4></button>

    <!--Appears if all conflicts have been resolved and we are on our final view-->
    <button class= "button button-large button-block accent conflict-resolution-button"
            ng-show="finished"
            ng-click="saveAndReturn();"><h4 class="text">Save and Return</h4></button>
    <br/>
    <br/>
    <br/>
</ion-scroll>
