<ion-modal-view ng-controller="scrollController"  title="People" id="page1" style="" class=" ">
    <ion-header-bar class="bar-dark">
        <button class="button-flat" ng-click="back(); closeModal();"><h4>Back</h4></button>
    </ion-header-bar>
    
   <ion-content 
        <form name ="firstNameForm" class="list" >
            <label class="item item-input ">
                <ion-md-input type="text" maxlength="20" placeholder="First Name" name = "firstName" ng-model = "JSON['First Name']" required/>
            </label>
        </form>

        <form name ="lastNameForm" class="list">
            <label class="item item-input " >
                <ion-md-input type="text" maxlength="50" placeholder="Last name" name = "lastName" ng-model = "JSON['Last Name'] " required/>
            </label>
        </form>

        <form name ="organizationForm" class="list" >
            <label class="item item-input " >
                <ion-md-input type="text" maxlength="100" placeholder="Organization" name = "organization" ng-model = "JSON['Organization']"/>
            </label>
        </form>

        <form name="emailForm" class="list" >
            <label class="item item-input " >
                <ion-md-input type="email" maxlength="100" placeholder="Email" name = "email" ng-model = "JSON['Email']" />
            </label>
        </form>

        <form name="phoneForm" class="list" >
            <label class="item item-input ">
                <ion-md-input type="text" placeholder="Phone" ng-maxlength = "13" name = "phone" ng-model="JSON['Phone']" />
            </label> 
        </form>
        
        <span>
            <button class = "button big-icon-button button-positive button-large icon ion-images" ng-model = "JSON['Photo']" ng-click = "choosePicture()"></button>
            <button class = "button big-icon-button button-positive button-large icon ion-android-camera" ng-model = "JSON['Photo']" ng-click = "takePicture(imageData)"> </button>
        </span>

        <a class="button button-positive button-large button-block wide" 
           ng-disabled="phoneForm.$invalid || emailForm.$invalid || organizationForm.$invalid || lastNameForm.$invalid || firstNameForm.$invalid || photoForm.$invalid || takePhotoForm.$invalid||checked" 
           ng-click = "saveJSON(); back (); destroyModal();">
           Save</a>
    </ion-content>
    
</ion-modal-view>