<ion-view title="Main Menu" hide-back-button="true" id="page3" style="background-color:#0471A6;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="mainMenu-list2" class=" ">
            <ion-item id="mainMenu-list-item10" href="mailto:" class="  "></ion-item>
            <ion-item class="item-divider " id="mainMenu-list-item-divider1"></ion-item>
            <ion-item id="mainMenu-list-item13" class="  "></ion-item>
        </ion-list>
    </ion-content>
</ion-view>