<ion-view title="People" id="page1" style="background-color:#0471A6;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="people-form5" class="list ">
            <label class="item item-input " id="people-input125" name="fristName">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="people-form7" class="list ">
            <label class="item item-input " id="people-input6" name="lastName">
                <span class="input-label">Last name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="people-form8" class="list ">
            <label class="item item-input " id="people-input9" name="organization">
                <span class="input-label">Organization</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="people-form9" class="list ">
            <label class="item item-input " id="people-input8" name="email">
                <span class="input-label">Email</span>
                <input type="email" placeholder="">
            </label>
        </form>
        <form id="people-form132" class="list ">
            <label class="item item-input " id="people-input10" name="phone">
                <span class="input-label">Phone</span>
                <input type="tel" placeholder="">
            </label>
        </form>
        <a ui-sref="createNew.mainMenu" id="people-button1" style="border-radius:6px 6px 6px 6px;" class=" button button-positive button-large button-block ">Save</a>
    </ion-content>
</ion-view>