<ion-view title="View Project" id="page12" style="background-color:#0471A6;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="viewProject-form18" class="list ">
            <label class="item item-input " id="viewProject-input18" name="projectName">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewProject-form19" class="list ">
            <label class="item item-input " id="viewProject-input20" name="institution">
                <span class="input-label">Institution Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewProject-form21" class="list ">
            <div class="spacer" style="width: 283px; height: 2px;"></div>
            <label class="item item-input " id="viewProject-input21" name="fundingAgency">
                <span class="input-label">Original Funding Agency</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewProject-form27" class="list ">
            <label class="item item-input " id="viewProject-input25" name="grantNumber">
                <span class="input-label">Grant Number</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <form id="viewProject-form29" class="list ">
            <label class="item item-select " id="viewProject-select18" name="investigator">
                <span class="input-label">Prinicipal Investigator</span>
                <select></select>
            </label>
        </form>
        <form id="viewProject-form34" class="list ">
            <label class="item item-input " id="viewProject-input26" name="projectCreate">
                <span class="input-label">Creation Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <form id="viewProject-form35" class="list ">
            <label class="item item-input " id="viewProject-input29" name="projectStarted">
                <span class="input-label">Started Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <form id="viewProject-form51" class="list ">
            <label class="item item-input " id="viewProject-input35" name="projectModification">
                <span class="input-label">Modification Date</span>
                <input type="date" placeholder="">
            </label>
            <div id="viewProject-button-bar2" class=" button-bar ">
                <a ui-sref="createNew.mainMenu" id="viewProject-button18" class=" button button-positive button-large button-block ">Save</a>
                <a ui-sref="createNew.mainMenu" id="viewProject-button19" class=" button button-positive button-large button-block ">Cancel</a>
                <a ui-sref="createNew.mainMenu" id="viewProject-button24" class=" button button-positive button-large button-block ">Delete</a>
            </div>
        </form>
    </ion-content>
</ion-view>