<ion-view title="View Component" id="page17" style="background-color:#0471A6;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="viewComponent-form97" class="list ">
            <label class="item item-input " id="viewComponent-input103" name="componentName">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewComponent-form98" class="list ">
            <label class="item item-input " id="viewComponent-input104" name="manufacturer">
                <span class="input-label">Manufacturer</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewComponent-form99" class="list ">
            <label class="item item-input " id="viewComponent-input105" name="model">
                <span class="input-label">Model</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewComponent-form100" class="list ">
            <label class="item item-input " id="viewComponent-input106" name="serialNumber">
                <span class="input-label">Serial Number</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <form id="viewComponent-form101" class="list ">
            <label class="item item-input " id="viewComponent-input107" name="vendor">
                <span class="input-label">Vendor</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewComponent-form102" class="list ">
            <label class="item item-input " id="viewComponent-input108" name="supplier">
                <span class="input-label">Supplier</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewComponent-form103" class="list ">
            <label class="item item-input " id="viewComponent-input109" name="installationDetails">
                <span class="input-label">Installation Details</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewComponent-form104" class="list ">
            <label class="item item-input " id="viewComponent-input110" name="wiringNotes">
                <span class="input-label">Wiring notes</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewComponent-form105" class="list ">
            <label class="item item-select " id="viewComponent-select29" name="componentDeployment">
                <span class="input-label">Deploment</span>
                <select></select>
            </label>
        </form>
        <form id="viewComponent-form106" class="list ">
            <label class="item item-input " id="viewComponent-input111" name="deploymentCalibrated">
                <span class="input-label">Last Calibrated Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <form id="viewComponent-form107" class="list ">
            <label class="item item-input " id="viewComponent-input112" name="deploymentInstallation">
                <span class="input-label">installation Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <form id="viewComponent-form108" class="list ">
            <label class="item item-input " id="viewComponent-input114" name="deploymentCreation">
                <span class="input-label">Creation Date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <form id="viewComponent-form110" class="list ">
            <label class="item item-input " id="viewComponent-input113" name="deploymentModification">
                <span class="input-label">Modification Date</span>
                <input type="date" placeholder="">
            </label>
            <div id="viewComponent-button-bar6" class=" button-bar ">
                <a ui-sref="createNew.mainMenu" id="viewComponent-button38" class=" button button-positive button-large button-block ">Save</a>
                <button id="viewComponent-button39" class=" button button-positive button-large button-block ">Cancel</button>
                <button id="viewComponent-button40" class=" button button-positive button-large button-block ">Delete</button>
            </div>
        </form>
    </ion-content>
</ion-view>