<ion-view title="View Site" id="page14" style="background-color:#0471A6;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="viewSite-form70" class="list ">
            <label class="item item-input " id="viewSite-input75" name="siteName">
                <span class="input-label">Name</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="viewSite-form76" class="list ">
            <label class="item item-input " id="viewSite-input76" name="siteLatitude">
                <span class="input-label">Latitude</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input " id="viewSite-input77" name="siteLongitude">
                <span class="input-label">Longitude</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-input " id="viewSite-input78" name="siteElevation">
                <span class="input-label">Elevation</span>
                <input type="number" placeholder="">
            </label>
            <button id="viewSite-button13" class=" button button-positive button-large button-block ">Get GPS Location</button>
            <label class="item item-input " id="viewSite-input79" name="landmark">
                <span class="input-label">Landmark</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 731px; height: 20px;"></div>
            <label class="item item-input " id="viewSite-input80" name="alias">
                <span class="input-label">Alias</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 731px; height: 22px;"></div>
            <label class="item item-input " id="viewSite-input81" name="notes">
                <span class="input-label">Notes</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 731px; height: 23px;"></div>
            <label class="item item-select " id="viewSite-select23" name="siteProject">
                <span class="input-label">Project</span>
                <select></select>
            </label>
        </form>
        <form id="viewSite-form77" class="list ">
            <label class="item item-select " id="viewSite-select24" name="permitHolder">
                <span class="input-label">Permit Holder</span>
                <select></select>
            </label>
            <div class="spacer" style="width: 731px; height: 20px;"></div>
            <label class="item item-select " id="viewSite-select25" name="landOwner">
                <span class="input-label">Land Owner</span>
                <select></select>
            </label>
            <div class="spacer" style="width: 731px; height: 20px;"></div>
            <label class="item item-input " id="viewSite-input82" name="siteCreate">
                <span class="input-label">Creation Date</span>
                <input type="date" placeholder="">
            </label>
            <div class="spacer" style="width: 731px; height: 25px;"></div>
            <label class="item item-input " id="viewSite-input83" name="siteModification">
                <span class="input-label">Modification Date</span>
                <input type="date" placeholder="">
            </label>
            <div class="spacer" style="width: 731px; height: 23px;"></div>
            <label class="item item-input " id="viewSite-input84" name="siteTimeZone">
                <span class="input-label">Time Zone</span>
                <input type="text" placeholder="">
            </label>
            <div id="viewSite-button-bar3" class=" button-bar ">
                <a ui-sref="createNew.mainMenu" id="viewSite-button25" class=" button button-positive  button-block ">Save</a>
                <a ui-sref="createNew.mainMenu" id="viewSite-button26" class=" button button-positive  button-block ">Cancel</a>
                <a ui-sref="createNew.mainMenu" id="viewSite-button27" class=" button button-positive  button-block ">Delete</a>
            </div>
        </form>
    </ion-content>
</ion-view>