/* 
	Custom Stylesheet for NRDC QA app 
*/

<<<<<<< HEAD
/*Disables Ugly Scroll Bar Globally*/
/*
=======
/*Disables Scroll Bar Globally*/
>>>>>>> master
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
<<<<<<< HEAD
*/
=======
>>>>>>> master

.big-text{
	font-size: 40px;
}

.fill-parent{
	height: 100%;
	width: 100%;
}

.opaque-overlay{
	background: #46494A;
}