/***************************************
****Custom Stylesheet for NRDC QA app*** 
****************************************/



/*Utilities
===============================*/

/*Disables Ugly Scroll Bar Globallly*/
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

/*Preset Transparencies*/
.transparent {
    opacity: 0.0;
}

.translucent {
    opacity: 0.5;
}

.near-visible {
    opacity: 0.8;
}

.visible {
    opacity: 1.0;
}

/*makes a div an fixed overlay on content*/
.overlay {
    position: fixed;
    z-index: 10;
}

/*makes a div fill it's parent block*/
.fill-parent {
	min-height: 100%;
	width: 100%;
}

.no-padding {
    padding: 0.0px;
}

/*make arrow clickable*/
div.arrow-down:active {
    opacity: 1.0;
}

/*makes rows wrap*/
.row {
  flex-wrap: wrap;
}

/*Make a button or element full width*/
.wide{
    min-width: 100%;
}


/*Color Pallette and Theming
===================================*/

/*UNR Dark Blue*/
.accent {
    background-color: #003366 !important;
}

/*Lighter Hue of Above Blue*/
.primary{
    background-color: #0052A1 !important;
}

/*Orange*/
.compliment{
    background-color: #F99300;
}

/*Black*/
.text {
    text-decoration-color: #000;
    color: #F2F2F2;
}

/*white*/
.content-bg {
    background-color: #FFFFFF;
}

/*overrides existing bar-dark theme*/
.bar.bar-dark {
    background-color: #003366 !important;
}

.bar-dark h4{
    color:#FFFFFF;
}

/* Overrides existing Bar Light Theme*/
.bar.bar-light {
    background: url(../img/subtle_bg/subtle_dots/subtle_dots.png) !important;
/*    border-bottom: 1px solid #C5C4C4 !important; */
}

/*overrides item content backgrounds*/
.item .item-content {
    background-color: #FFFFFF !important;
    
}

.button-positive {
    background-color: #0052A1 !important;
}

.near-visible{
    opacity: 0.8;
}


/* CSS objects
============================/
/*    make a css arrow
    -- adapted from stack overflow-- 
*/
.arrow-down {
    border-right: 10px solid; 
    border-bottom: 10px solid;
    width: 30px; 
    height: 30px;    
    transform: rotate(45deg);
}

.arrow-up {
    border-right: 10px solid; 
    border-bottom: 10px solid;
    width: 30px; 
    height: 30px;    
    transform: rotate(-135deg);    
}

/*aligns a div or some content to act as a footer*/
.footer {
    bottom: 0;
    height: 8%;
    width: 100%;
    padding: 10px;
}

.header {
    top: 0;
    height: 8%;
    width: 100%;
    padding: 10px;
}

/*tile style button
used on main page*/
.tile-btn {
    padding: 0.0px;
    margin: 2px;
    opacity: 1;
    border-radius: 2px;
}

/*Loading Spinner*/
.loading-spinner-inner{
  height: 24px;
  width: 24px;
  border-radius: 50px;
  border: 2px dotted #003366;
  background-color: rgba(0,0,0,0);
}

/*make arrow clickable*/
div.arrow-down:active{
    opacity: 1.0;
}

/* */
.text-format-mirror{
    position: absolute;
    color: black;
    padding: .5em;
    line-height: 1em;
    height: auto;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    font-size: 18px;
    word-wrap: break-word;
    white-space: pre-line;
    visibility: hidden;

}



/*Animations
===========================*/
.spinner{
  animation: spin 1s ease-in-out infinite;
}

.spinner-rev{
 animation: spin .2s linear infinite reverse;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




/* Overrides
==========================*/

/*used for flex box purposes*/
.home-container {
    display: -webkit-flex;
    height: 100%;
}

.modal-back-btn {
    margin-right: 8px;
}

.item {
    margin: 0px; !important
}


/*Manual overrides of md-input css*/
/*EM scales element according to text size*/
.item-md-label textarea {
    background-color: inherit !important;
    color: black !important;
    resize: none;
    font-size: large;
    font: arial;
    height: 2em;
    padding: .5em;
    line-height: 1em;
}

textarea:focus {
     background-color: #EEEEEE !important;
}

/*Input Underline*/
.item-md-label .highlight-calm {
    background: #F99300 !important;
}

