/***************************************
****Custom Stylesheet for NRDC QA app***
****************************************/



/*Utilities
===============================*/

/*Disables Ugly Scroll Bar Globallly*/
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

/*Preset Transparencies*/
.transparent {
    opacity: 0.0;
}

.translucent {
    opacity: 0.5;
}

.near-visible {
    opacity: 0.8;
}

.visible {
    opacity: 1.0;
}

/*makes a div an fixed overlay on content*/
.overlay {
    position: fixed;
    z-index: 10;
}

/*makes a div fill it's parent block*/
.fill-parent {
	min-height: 100%;
	width: 100%;
}

.no-padding {
    padding: 0.0px;
}

/*make arrow clickable*/
div.arrow-down:active {
    opacity: 1.0;
}

/*makes rows wrap*/
.row {
  flex-wrap: wrap;
}

/*Make a button or element full width*/
.wide{
    min-width: 100%;
}

.main-menu-button{
    margin-top: 0em !important;
    margin-bottom: 3em !important;
    border: 1px solid orange !important;
    border-left-style: hidden !important;
    border-right-style: hidden !important;
}

button.main-menu-button:active{
    background-color: #F99300 !important;
}

/*Adds a 75 vertical pixels of whitespace to the bottom of pages with FABs so that the FAB does
not rest on the save button with max scroll*/
.overscroll{
    opacity:0;
    background-color:yellow;
    height: 35px;
    width: auto;
}

.scrollable{
  overflow: scroll;
}



.zoom-pane {
  width: 100%;
  height: 100%;
}


.zoom-pane .scroll {
  min-height: 100%;
  /* Vertical align */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zoom-pane img {
  width: 100%;
  vertical-align: middle;
}


.right-header-btn{

}


/*Color Pallette and Theming
===================================*/

/*UNR Dark Blue*/
.accent {
    background-color: #003366 !important;
}

/*Lighter Hue of Above Blue*/
.primary{
    background-color: #0052A1 !important;
}

/*Orange*/
.compliment{
    background-color: #F99300 !important;
}

.tertiary{
    background-color: #F9BD00;
}

.grey{
    background-color: #C2C0C0;
}

/*white text*/
.text{
    color: #F2F2F2 !important;
}

/*white*/
.content-bg {
    background-color: #FFFFFF !important;
}

/*overrides existing bar-dark theme*/
.bar.bar-dark {
    background-color: #003366 !important;
}

.bar-dark h4{
    color: #FFFFFF;
    opacity: .8;
}

/* Overrides existing Bar Light Theme*/
.bar.bar-light {
    background: url(../img/subtle_bg/subtle_dots/subtle_dots.png) !important;
/*    border-bottom: 1px solid #C5C4C4 !important; */
}

/*overrides item content backgrounds*/
.item .item-content {
    background-color: #FFFFFF !important;

}

.button-positive {
    background-color: #0052A1 !important;
}

.near-visible{
    opacity: 0.8;
}

.app-header-container{
    min-height: 20em;
    width: 100%;
    background-size: 160%;
    background-position: center;
    padding-top: 8em;
}

.app-title-container{
    width: auto;
   height: auto;
   background-image: url(../img/subtle_bg/subtle_dots/subtle_dots.png) !important;
}


/* Image directive related css
============================*/

.app-image-container{
    min-height: 20em;
    width: 100%;
    background-size: 100%;
    background-position: center;
    position:relative;
}

.app-image-fab{
    position: absolute;
    top:auto;
    right: 10px;
    bottom: 10px;
    left:auto;
}

.app-image-fab-container{
    z-index: 9999;
    position: absolute;
    display:inline;

    top: auto;
    right: 10px;
    bottom: 10px;
    left: auto;
}



/* CSS objects
============================/
/*    make a css arrow
    -- adapted from stack overflow--
*/
.arrow-down {
    border-right: 10px solid;
    border-bottom: 10px solid;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
}

.arrow-up {
    border-right: 10px solid;
    border-bottom: 10px solid;
    width: 30px;
    height: 30px;
    transform: rotate(-135deg);
}


.nrdc-fab-container-lower-right{
    z-index: 9999;
    position: absolute;

    top: auto;
    right: 16px;
    bottom: 16px;
    left: auto;
}


.nrdc-fab-lower-right{
    z-index: 9999;
    position: relative;

    top: auto;
    right: 16px;
    bottom: 16px;
    left: auto;
}

/*tile style button
used on main page
eventual deletion*/
.tile-btn {
    padding: 0.0px;
    margin: 2px;
    opacity: 1;
    border-radius: 2px;
}



/*Loading Spinner
----------------------------*/
.loading-spinner{
  height: 80px;
  width: 80px;
  background-color: rgba(0,0,0,0);
  border: dotted 2px #003366;
  border-radius: 100px;


  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner-inner{
  height: 42px;
  width: 42px;
  border-radius: 100px;
  border: 3px dotted #F99300;
  background-color: rgba(0,0,0,0);
}



/*make arrow clickable*/
div.arrow-down:active{
    opacity: 1.0;
}

/*Holds a copy of all text
placed in a corresponding textarea
used to measure the expected height
of the text area*/
.text-format-mirror{
    position: absolute;
    visibility: hidden;

    color: black;
    padding: .5em;
    line-height: 1em;
    height: auto;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    font-size: 18px;

    word-wrap: break-word;
    white-space: pre-line;
}



/*Animations
===========================*/
.spinner{
  animation: spin 1.5s ease-in-out infinite;
}

.spinner-rev{
 animation: spin .1s infinite reverse;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




/* Overrides
==========================*/

/*used for flex box purposes*/
.home-container {
    display: -webkit-flex;
    height: 100%;
}

.modal-back-btn {
    margin-right: 8px;
}

.item {
    margin: 0px; !important
}


/*Manual overrides of md-input css*/
/*EM scales element according to text size*/
.item-md-label > textarea{
    background-color: inherit !important;
    color: black !important;
    resize: none;
    font-size: large ;
    font: arial;
    height: 2em;
    padding: .5em;
    line-height: 1em;


    border-bottom: 2px solid rgba( 0, 0, 0, .05);
}

textarea:focus {
     background-color: #EEEEEE !important;
}

/*Input Underline*/
.item-md-label .highlight-calm {
    background: #F99300 !important;
}

/*Basic redisign of select bars*/
select{
    border: 0px;
    border-left: 2px solid rgba( 0, 0, 0, .1) !important;
    border-right: 2px solid rgba( 0, 0, 0, .1) !important;


    padding-top: 1em;
    padding-bottom: 1em;

    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    font-size: 18px;
}

.conflict-resolution-line-item > select {
    border: 0px;
    border-left: 2px solid rgba( 0, 0, 0, .1) !important;
    border-right: 2px solid rgba( 0, 0, 0, .1) !important;

    padding-top: 1em;
    padding-bottom: 1em;

    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    font-size: 18px;

    width: 83%;
    white-space: pre-wrap;
}

.conflict-resolution-line-item{
    padding: 1em;
    margin-bottom: 2em;

    background: rgba(140,0,0,.3);
    border: 3px solid rgba(200,0,0,.9);
}

.select-container{
    padding-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

/*Additional padding to items in a list*/
li > .item{
    padding: 2em !important;
}


/*Loading Override*/
.loading-container .loading{
    background-color: rgba(255, 255, 255, .4) !important;
}

.big-icon-button{
    height: 100px !important;
    width: 49%;
}

/* Date input Redesign */
input[date-input]{
    border: 0px;
    border-left: 2px solid rgba( 0, 0, 0, .1) !important;
    border-right: 2px solid rgba( 0, 0, 0, .1) !important;


    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;

    margin-bottom: 1em;
    margin-top: .5em;

    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    font-size: 18px;

    width: 100%;
}

.date-container{
    padding: 0px;
    margin-left: 2em;
    margin-right: 2em;
}



.date-container > label{
    color: darkslategrey;
    letter-spacing: .25rem;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    font-size: 16px;
}

/*fixes sideways modals to be full screen*/
.modal.active{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/*fix blurring caused by
-webkit-transform: translate3d(0px,0px,0px) scale(1)*/

div.scroll.padding {
      -webkit-transform: initial !important;
}

label {
    margin-bottom: 1em !important;
    border-style: hidden !important;
}

label > label {
    max-width: 90%;
}
